.error_container {
  background-color: #2d72d9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
  flex-direction: column;
}
.error_container h1 {
  font-size: 180px;
  margin: 0;
}
