.header {
  height: 84px;
  padding-left: 30px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_right,
.header_left {
  display: flex;
  align-items: center;
}
.header_left {
  flex-grow: 1;
  margin-right: 40px;
}
.hamburger {
  cursor: pointer;
  margin-right: 30px;
}
.hamburger_item {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}
.logo {
  margin-right: 60px;
}
.search_form {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.search_input {
  width: 100%;
  font-size: 20px;
  padding: 12px 23px;
  border: 3px solid #ebebeb;
  border-radius: 30px;
}
.seach_icon {
  margin-left: -40px;
  font-size: 19px;
  cursor: pointer;
}
.icon {
  font-size: 40px;
  color: #a69b9b;
}
.icon:not(:last-child) {
  margin-right: 45px;
}
@media screen and (max-width: 1500px) {
  .header {
    padding-right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    border-bottom: 1px solid #afafaf;
  }
  .logo {
    margin-right: 30px;
  }
  .icon:not(:last-child) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header_left {
    justify-content: space-between;
  }
  .search_input {
    display: none;
  }
  .seach_icon {
    margin-left: 0;
    font-size: 40px;
  }
  .search_form {
    flex-grow: 0;
  }
}
