@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(460px);
  }
}

.skeletonItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1rem 0;
}

.skeletonPages {
  width: 85%;
  height: 32px;
  background: #f2f2f2;
  margin-top: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin: 0;
}

.skeletonPages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}
