.sidebar {
  flex-basis: 235px;
  padding: 30px;
  padding-right: 0px;
  position: relative;
  transition: all 0.1s;
  z-index: 100;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tabs {
  font-size: 20px;
  margin-bottom: 40px;
}
.tabs li {
  color: #898989;
  margin-bottom: 15px;
}
.showMoreBtn {
  border: none;
  outline: none;
  padding: 2px;
  color: #898989;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

li.showMoreLi {
  color: #a21009;
  font-weight: 600;
}

.tabs a {
  color: black;
  text-decoration: none;
  color: #898989;
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 5px;
}
.subTitle {
  margin: 0;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.subscriptions {
  margin-bottom: 50px;
}
.settingBtn {
  font-size: 20px;
  color: #898989;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}
.settingBtn a {
  text-decoration: none;
  color: #898989;
}
a.activeLink {
  color: red;
  font-weight: 700;
}

.activeSidebar {
  flex-basis: 0;
  overflow: hidden;
  padding: 30px 0px;
}
.sidebarAbsolute {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  left: -245px;
  border: 1px solid #afafaf;
  border-left: none;
  border-radius: 5px;
  min-height: 877px;
  z-index: 10;
}
.sidebarActiveAbsolute {
  left: 0;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .sidebar {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    left: -245px;
    border: 1px solid #afafaf;
    border-left: none;
    border-radius: 5px;
    min-height: 877px;
  }
  .activeSidebar,
  .sidebarActiveAbsolute {
    left: 0;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .activeSidebar,
  .sidebarActiveAbsolute {
    left: 0;
    right: 0;
    height: 100%;
  }
  .settingBtn {
    position: static;
  }
}
