.subscription {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.subscription img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  margin-right: 10px;
}
.subscription p {
  font-size: 20px;
  color: #898989;
  margin: 0;
}
